:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.left-side{
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}

.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  list-style: none;
}

.sidebar-menu a{
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar-menu a:hover {
  background-color: #fff;
  padding: 0.4rem 0 0.4rem 0.4rem;
  color: var(--main-color);
  border-radius: 30px 0 0 30px;
}

.sidebar-menu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}

.right-side{
  margin-left: 270px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #e9edc9;
}

.main-content .profile{
  padding-right: 1rem;
}

.main-content span:last-child{
  font-size: 1.6rem;
}

.add-btn{
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 0 0.7rem 0.4rem 0.2rem;
  border-radius: 30px;
}

.add-btn span{
  padding-right: 5px;
}

.std-data{
  border: 2px solid red;
  padding: 0.5rem;
}

.std-data ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.first-navBar{
  background-color: #f06e9e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-top: 20px;
  padding: 1rem;
}

.second-navBar{
  background-color: #fff0f3;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  margin-top: 20px;
  padding: 0.6rem;
  align-items: center;
}
.box1{
  /* border: 1px solid black; */
  margin-right: 4rem;
}

.std-img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.edit-icon{
  font-size: 20px;
  margin-right: 20px;
  color: blue;
}
.del-icon{
  font-size: 20px;
  color: rgb(236, 72, 72);

}

.edit-del{
  display: flex;
}

.std-form label{
  font-size: 1.7rem;
}

.std-form input{
  font-size: 20px;
}

.yoyo{
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.add-user-btn{
  border: none;
  outline: none;

}

.logoutBtn{
  border: none;
  background-color: #dd2f6e;
  color: #fff;
  font-size: 1.7rem;
}
.abc{
  position: absolute;
  top: 85%;
}